observatorio_api/public/images/estaciones/2b1bf4b5-2172-4b08-9ceb-2e6d7f506801.jpeg
observatorio_api/public/images/estaciones/289bb999-de09-4de1-8d77-2ec5d82fd234.jpeg
observatorio_api/public/images/icons_estaciones/699b9c6e-8b13-40a1-8dff-0e24d011de9e.png
observatorio_api/public/images/icons_estaciones/a31d00c9-5237-4704-abed-ac57837f7de9.png
observatorio_api/public/images/icons_estaciones/450acf7b-cddb-4f98-a741-f6418fc36cea.png
observatorio_api/public/images/icons_estaciones/ac72d91f-0f87-4b28-9157-b8b556f84b13.png
observatorio_api/public/images/microcuencas/15a0ebf5-af2b-4756-b332-344b35fc0333.png
observatorio_api/public/images/icons_estaciones/d26e8dcb-8f8e-4c47-a6b6-b04de2a83bca.png
observatorio_api/public/images/icons_estaciones/92f252c9-9bbc-4393-9496-d5ae4a04d928.png
observatorio_api/public/images/icons_estaciones/f7f8f82b-ce29-4f08-b7d0-08bf5fb3f580.png
