.filtro-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.filtro-item {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
    text-align: start;
}

.custom-button-filtro {
    background-color: #537EC5;
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}
.custom-button-filtro:hover {
    background-color: #afc9f3;
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2),
                0 15px 50px rgba(0, 0, 0, 0.2);
}

.informacion-presentada  {
    border: 1px solid #ddd;
    background: #f5f5f5 !important;
    border-radius: 0.3rem;
    box-shadow: #0000006b 0px 3px 4px;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    .filtro-container {
        flex-direction: column;
    }
}

@media (max-width: 540px) {
    .filtro-container {
        flex-direction: column;
    }

    .text-left mt-4  {
        font-size: 8px;
    }


}
